@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />
    <h1 class="display-">Ana Sayfa</h1>
    <br />
    <p><img style="border 1px" width="75%" src="/img/surgery.jpg" </p>









</div>
