@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />
    <h1 class="display-">Ana Sayfa</h1>
    <br />
    <p><img style="border 1px" width="75%" src="/img/surgery.jpg" </p>
   

    <h4>Doktor Kadromuz</h4>
    <head>
        <title>Doktor Açıklamaları</title>
    </head>
    <body>

        <a href="#"><img src="~/img/alivefa.jpg" alt="Doktorlarımız" /></a>
        <p>Bu doktorlar, alanlarında uzmanlık derecesine sahip deneyimli sağlık profesyonelleridir.</p>

        <a href="#"><img src="~/img/ferda.jpg" alt="Ferda" /></a>
        <p>Ferda, hastalarına karşı anlayışlı yaklaşımıyla bilinir ve tedavi sürecinde destek olmaktan mutluluk duyar.</p>

        <a href="#"><img src="~/img/nazli.jpg" alt="Nazli" /></a>
        <p>Nazli, kapsamlı tıbbi bilgisi ve hastalarıyla empati kurma becerisiyle tanınan bir doktordur.</p>

    </body>
    </html>






    <script></script>
</div>
