<h3> Beni öpmek zorundasın.</h3>
<h6> Bu sayfa not alma sayfası </h6>
<h6> Umarım alt satıra geçiyordur </h6>
<br />
<br />
<h5> iki tane br ekledim galiba o işe yarıyordu bakacağız işte </h5>
<p> tamam şimdi p etiketinin içinde yazıyorum,
	header da ki tuşları ayarlamanın yolu layout klasöründe
	views->shared->_layout şeklinde bir yol izlemek gerekiyor.
</p>
<br />
<br />
<p>
	View kullanıcı pc de görüntğlencek şekli tasfir ediyor,
	burada kodlar html şeklinde yorumlanıyor 
	Shared ise paylaşılmış demek yani bütün viewlar için 
	burada ki değişiklik tğm viewleri etkileyecek şekilde 
	"Render Body" de burada yer alıyor
</p>
<p>İsminin içinde parital geçen bir klasör varsa bu klasör bir ya da daha fazla sayfa için yardımcı klasördür kendisi bir web sayfası değildir</p>
<p>
	->views->shared->_Viewstart
	Viewstart adlı dosya başlangıç ve çalışma kalsörünün ismini saklıyor yani _layout'un'
</p>