@using HastaneOtomasyonASP.NET.Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HastaneOtomasyonASP.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap(2).css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneOtomasyonASP.NET.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HastaneOtomasyonASP.NET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls= ="navbarColor01"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse show" id="navbarColor01" style="">
                    <ul class="navbar-nav  flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">İletişim</a>
                        </li>
                        @if (User.IsInRole(UserRoles.Role_Admin) || User.IsInRole(UserRoles.Role_Hasta))
                        {
                            
                       
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Doktor" asp-action="Index">Doktorlar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Hasta" asp-action="Index">Hasta Bilgileri</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Randevu" asp-action="Ekle">Randevu Oluştur</a>
                            </li>


                        }
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Polikinlik" asp-action="Index">Polikinlikler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="API">API</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="API2">API2</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="API3">API3</a>
                        </li>

                        <li class="nav-item">
                            <a href=https://localhost:7139/api/Api>Hastalar GET(API)</a>
                        </li>

                        <li class="nav-item">
                            
                        </li>

                       
                     
                    </ul>
                    @*  LOCALIZATION *@
                    <ul class="nav-item">

                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
                                Languages
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ChangeLanguage"
                                       asp-route-culture="en-US"
                                       class="dropdown-item">
                                        <i class="flag-icon flag-icon-gb"></i>English
                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ChangeLanguage"
                                       asp-route-culture="fr-FR"
                                       class="dropdown-item">
                                        <i class="flag-icon flag-icon-gb"></i>French
                                    </a>

                                </li>

                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ChangeLanguage"
                                       asp-route-culture="tr-TR"
                                       class="dropdown-item">
                                        <i class="flag-icon flag-icon-gb"></i>Türkçe
                                    </a>
                                </li>



                            </ul>

                        </div>


                    </ul>

                    <partial name="_LoginPartial"/>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HastaneOtomasyonASP.NET - Mustafa Özcan -Yahya Haliloğlu  <a asp-area="" asp-controller="Home" asp-action="Privacy">İletişim</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
