<h2>NotPage</h2>
<h3> Beni öpmek zorundasın.</h3>
<h6> Bu sayfa not alma sayfası </h6>
<br />
<br />
<p>
	header da ki tuşları ayarlamanın yolu layout klasöründe
	views->shared->_layout şeklinde bir yol izlemek gerekiyor.
</p>
<br />
<br />
<p>
	View kullanıcı pc de görüntülencek şekli tasfir ediyor,
	burada kodlar html şeklinde yorumlanıyor
	Shared ise paylaşılmış demek yani bütün viewlar için
	burada ki değişiklik tğm viewleri etkileyecek şekilde
	"Render Body" de burada yer alıyor
	İsminin içinde parital geçen bir klasör varsa bu klasör bir ya da daha fazla sayfa için yardımcı klasördür kendisi bir web sayfası değildir
</p>
<p>
	->views->shared->_Viewstart
	Viewstart adlı dosya başlangıç ve çalışma kalsörünün ismini saklıyor yani _layout'un'
</p>




<p><h3>DoktorTuru</h3> Id ve Alan parametrelerini içeriyor, baktığım kodda KitapTuru ne karşılık geliyor.
	Hastalık türleri için düşünüyorum işte kalp, göz, boğaz gibi 
	DoktorTurleri diye tablo oluşturdum bunun için.
</p>